<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhushuli.recordipin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordIPIN"
        android:requestLegacyExternalStorage="true" >
        <activity
            android:name=".CollectionActivity"
            android:exported="false"
            android:label="CollectionTest"/>
        <activity
            android:name=".ImuActivity"
            android:exported="false"
            android:label="IMUTest" />
        <activity
            android:name=".LocationActivity"
            android:exported="false"
            android:label="LocationTest"
            android:launchMode="standard" />
        <activity
            android:name=".ThreadTestActivity"
            android:exported="false"
            android:label="ThreadTest"
            android:launchMode="standard" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>